// ==========================================================================
// #Contact Info
// ==========================================================================

.about {

	& h2 {
		font-size: 2rem;
		font-weight: 700;
	    font-style: normal;
	    text-transform: uppercase;
	}

	& h3 {
		margin-bottom: .5em;
	}

	& p.lead {
		color: #b36464;
		font-size: 20px;
	    line-height: 1.3;
	    font-family: Georgia,times new roman,Times,serif;
	    margin-bottom: 1.3em;
	}

	&__author-img-wrap {
		width: 100%;

		@include media-query(medium) {
			float: left;
			width:  calc(37.3333% - 3.5%);
			margin-right: 3.5%;
		}
	}

	&__author-img {
	    background-size: contain;
	    background-repeat: no-repeat;
	    max-width: 100%;
	    min-height: 360px;
	    overflow: hidden;

	    @include media-query(medium) {
			height: 600px;
	    }
	}

	&__author-description {
		width: 100%;

		@include media-query(medium) {
			float: left;
			width: 62.6666%;
		}
	}

}