// ==========================================================================
// #Contact Info
// ==========================================================================


.contact-info {
	@include clearfix;
	color: white;
	&__row {
		@include clearfix;
	}

	&__col {
		float: left;
    	margin-right: 30px;
    	color: white;

    	& p {
    		color: white!important;
    	}
	}

	&__logo-wrap {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__contact-links {
		float: right;
		& li {
			display: inline-block;
			& a {
				color: white;
			}
		}
	}

	&__social-list {

		& li {
			display: inline-block;
			padding-right: 5px;
    		padding-left: 5px;
		}

		& a {
			background: #3C4544;
		    width: 35px;
		    height: 35px;
		    line-height: 35px;
		    color: #000;
		    float: left;
		    border-radius: 50%;
		    text-align: center;
		    margin: 0 5px 0 0;
		}
	}

}