// ==========================================================================
// #Main Showcase
// ==========================================================================

.main-showcase {
	top: 50%;
	width: 100%;
	position: absolute;
	
	&__inner {
		width: 100%;
	    text-align: center;
	    @include absolute(top 50%);
	    transform: translateY(-10%);

	    @include media-query(large) {
	        padding-top: 7.75em;
	   		padding-bottom: 3.75em;
		    padding: 0;
		    transform: translateY(-50%);
		    height: 240px;
		    width: 100%;
		    -webkit-animation-delay: 1.75s;
		    animation-delay: 1.75s;
		    -webkit-animation-duration: .7s;
		    animation-duration: .7s;
		}
	}

	&__super-header {
	    text-align: center;
	    color: #fff;
	    font-size: 2.5em;
	    line-height: 20px;
	    letter-spacing: 3px;
	    text-transform: uppercase;
	    font-weight: 400;
	    margin: 0 0 8px 0;

		@include media-query(large) {
			font-size: 4.6875em;
		    line-height: 80px;
		    letter-spacing: 7px;
		}
	}

	&__super-subheader {
	    text-align: center;
	    color: #d1d9e0;
	    font-size: 1.3125em;
	   // line-height: 16;
	    text-transform: none;
	    font-weight: 300;
	    margin: 0 0 16px 0;
	    font-style: italic;
		@include media-query(large) {
			font-size: 29px;
	    	line-height: 36px;
		}
	}

	&__super-hr {
        border: 0;
	    width: 170px;
	    height: 10px;
	    background: #f2a538;
	    margin: 0 auto 12px;
		@include media-query(large) {

		}
	}

	&__super-subheader-alt {
		text-align: center;
	    color: #fff;
	    font-size: 1.25em;
	    line-height: 16px;
	    text-transform: none;
	    font-weight: 300;
	    margin: 0 0 16px 0;

		@include media-query(large) {
			font-size: 1.6875em;
	    	line-height: 36px;   
		}
	}

	&__btn {
		font-size: 14px;
	    font-weight: 500;
	    padding: 10px 28px;
	    font-weight: bold;
	    background: none;
	    text-transform: uppercase;
	    color: white;
	    border: 2px solid #f2a538;
	    transition: .3s ease-in-out;
	}


}
















