// ==========================================================================
// # Process
// ==========================================================================

.process {
    background-size: cover;
    position: relative;font-size: .6rem;
    line-height: 1.875;

    &__list {
    	@include fixed(top 50vh left 90px bottom 0);
	    width: 50px;
	    z-index: 1000;
	    transition: all .25s;
    }

    & h2 {
    	font-size: 5rem;
	    font-weight: 700;
	    line-height: 1;
	    letter-spacing: 20px;
	    margin-bottom: 0;
	    position: relative;
	    overflow: hidden;
	    color: black;

	    @include media-query(medium) {
	    	font-size: 11rem;
		}
    }

    & h3 {
    	font-size: 4em;
	    line-height: 1.23;
	    color: #f2a538;
	    font-weight: 700;
	    margin-bottom: 1rem;
	    position: relative;
	    overflow: hidden;

	    @include media-query(medium) {
	    	font-size: 5em;
		}
    }

    & section {
    	max-width: 700px;
	    position: relative;
	    overflow: hidden;
    }

    & p {
    	color: black;
    	font-size: 1rem;
    	line-height: 1.875;
    }

    &--alt {

    	& h2 {
    		color: white;
    	}

    	& p {
    		color: white;
    	}

    }

    &__overlay {
    	@include absolute(top 0 right 0 bottom 0 left 0);
    	background-color: rgba(255,255,255, 0.7);
    	z-index: -1;

    	&--alt {
    		background-color: rgba(0,0,0, 0.7);
    	}
    }

	&__outer {
 		height: 100vh;
	    z-index: 10;
	    position: relative;
	}

	&__inner {
		position:absolute;
		transform: translateY(-50%);
		top: 50%;

		&--alt {

			@include media-query(medium) {
				right: 0;
				text-align: right;
			}
		}
	}

	&__step-number {

	}

	&__paragraph {

	}



}