// ==========================================================================
// #Services Tab
// ==========================================================================

.services-tab {
    background: white;

    &__nav {
	   list-style: none;
	   padding: 0;
	   @include clearfix;
    }

    &__list-item {
    	float: left;
    	width: 33.3333%;
    	font-size: 24px;
    	display: block;
        color: #ababab;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        min-height: 1px;
    }

    &__link-item {
    	background: none;
        padding-top: 7px;
        padding-bottom: 3px;
    	border-bottom: 5px solid transparent;
        line-height: 50px;
        display: block;
        position: relative;
        transition: all .3s ease-in-out;
        padding-top: 18px;
        text-align: center;
        text-decoration: none;
        color: #ababab;

       	& i {
            color: #ababab;
       		font-size: 50px;
            margin-right: 24px;
        }

        & span {
            position: relative;
            top: -14px;
        }
        
        &.is-active {
    	   border-color: #ea334b;
    	   color: #ea334b;

            i {
                color: #ea334b;
            }
        }
    }

    &__link-item:hover {
    	
    }

    
    &__tab-item {
    	padding: 20px;
    	display: none;
    	color: white;
    }   

    &__tab-item.is-visible {
    	display: block;
    }

}