// ==========================================================================
// #Services Excerpt
// ==========================================================================

.service-excerpt {

	&__wrap {
		@include clearfix;
	}

	&__item {
		position: relative;
		width: 100%;
		height: 80vh;
		float: left;
		display: block;
	    border-right: 3px solid #272c31;
	    background-size: cover;
	    background-position: center center;
	    transition: .3s ease-in-out;

	    @include media-query(medium) {
	    	width: calc(100% / 3);
	    }

	    &:last-child {
	    	border-right: none;
	    }

		&:hover .service-excerpt__title:after {
			width: 100px;
		}

		&:hover .service-excerpt__title {
			font-size: 2.6rem;
		}

		&:hover .service-excerpt__btn {
			background: hsla(0,0%,100%,.2);
    		border: 2px solid transparent;
		}
	}

	&__content {
		z-index: 10;
		position: relative;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	&__title {
		color: white;
		text-transform: uppercase;
		font-size: 1.8rem;
		margin-bottom: 20px;
		padding: 10px;
		transition: .3s ease-in-out;

		@include media-query(large) {
			font-size: 2.4rem
		}

		&:after {
			content: "";
			display: block;
			width: 50px;
			border: 2px solid #f2a538;
			margin: 0 auto;
			transition: .3s ease-in-out;
		}
	}

	&__btn {
		font-size: 14px;
	    font-weight: 500;
	    padding: 10px 28px;
	    font-weight: bold;
	    width: 190px;
	    background: none;
	    text-transform: uppercase;
	    color: white;
	    border: 2px solid #f2a538;
	    letter-spacing: 8px;
	    transition: .3s ease-in-out;
	}

	&__overlay {
		@include absolute(top 0 right 0 bottom 0 left 0);
		background-color: rgba(38, 38, 38, 0.89);
	}


}