// ==========================================================================
// #Standard
// ==========================================================================

.standard {

	&__list {
    	
	}

	&__item {
	    padding-left: 170px;
    	padding-top: 0;
        position: relative;
        margin-bottom: 45px;

        &:last-child {
        	margin-bottom: 10px;
        }

        & h3 {
        	color: #fff;
        	font-size: 24px;
		    margin-top: 0;
		    text-transform: uppercase;
		    font-weight: 700;
			text-align: left;
    		margin-bottom: 10px;
        }

        & p {
        	margin-bottom: 1rem;
        }
	}

	&__icon-wrap {
		position: absolute;
	    top: 7px;
		left: 0;
    	margin-left: 0;
	    font-size: 50px;
	    color: #2e2e2e;
	    fill: #2e2e2e;
	    border: 5px solid #fff;
	    border-radius: 50%;
	    display: inline-block;
	    width: 100px;
	    height: 100px;
	    padding-top: 12px;
	    text-align: center;
	    color: white;
	}

}

.intro {
	max-width: 1050px;
    margin: 0 auto;
    padding: 3rem 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: gray;
    overflow: hidden;
    position: relative;

    @include media-query(medium) {
        font-size: 1.5rem;
        line-height: 2.9rem;
    }
}