// ==========================================================================
// #Buttons
// ==========================================================================

.btn {
	display: inline-block;
	transition: .3s ease-in-out;
    font-size: .9rem;
    padding: 10px 28px;
    font-weight: bold;

	&--primarly {
		border: 2px solid #f2a538;
	}

	// Button Sizes
	&--small {

	}

	&--med {

	}

	&--large {

	}

}