// ==========================================================================
// #Page-headers
// ==========================================================================


.page-header {
	z-index:5;
	position: relative;

	&--title {
		font-family: "Halis Rounded","Helvetica Neue",Helvetica,Arial,sans-serif;
	    text-transform: uppercase;
	    font-weight: 700;
	}
}

.header-alternative {
	font-family: "Halis Rounded","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0;
    color: #2e2e2e;
    
   &.negative {
		color: white;
	}
}

.highlighted  {
	padding-top: 50px;
    padding-bottom: 60px;
    font-size: 1.875rem;

    @include media-query(medium) {
    	font-size: 2.875em;
	}

	& span {
		position: relative;
	}
}