// ==========================================================================
// #Scroll Down
// ==========================================================================


.scroll-down {
    display: none;
    color: #e1e1e1;
    text-decoration: none;
    width: 250px;
    padding-top: 95px;
    @include absolute(top 100% left 50% bottom 25px);
    text-align: center;
    margin-left: -125px;
    font-size: 12px;
    outline: 0;
    font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @include transition(color .3s ease-in-out);
    
    @include media-query(large) {
        display: block;
    }

    &:before {
        content: ' ';
        @include absolute(top 30px left 50%);
        width: 37px;
        height: 19px;
        display: block;
        background-size: 40px;
        margin-left: -18px;
        -webkit-animation: scroll-down 900ms ease infinite alternate;
        animation: scroll-down 900ms ease infinite alternate;
        background-image: url(https://aurelianspodarec.github.io/hcOriginalAurePortfolio/assets/img/arrow.png);
        background-position: 0 -51px;
    }

    &:after {
        content: ' ';
        @include absolute(top 0 left 50%);
        margin-left: -45px;
        @include box(90px);
        border: 4px solid #e2e2e2;
        border-radius: 50%;
    }

}