// ==========================================================================
// #Subpage Header
// ==========================================================================


.subpage-header {
	z-index:5;
	position: relative;
	
	&--title {
		font-family: "Halis Rounded","Helvetica Neue",Helvetica,Arial,sans-serif;
	    text-transform: uppercase;
	    font-weight: 700;
	}

	& .negative {
		color: white;
	}

	& .highlighted  {
		padding-top: 120px;
	    padding-bottom: 60px;
	    margin: 0;
	    font-size: 2.875em;

		& span {
			position: relative;
		}
		
		& span:after {
		    content: ' ';
		    @include absolute(bottom -10px left 0);
		    width: 100%;
		    height: 7px;
		    background-color: #fd4b46;
		    background-image: -webkit-gradient(linear,right top,left top,from(#ec3449),to(#f45c43));
		    background-image: linear-gradient(to left,#ec3449 0,#f45c43 100%);
		}
	}

}

