// ==========================================================================
// #Site footer
// ==========================================================================

.footer-main {
	background-color: #262626;
	padding: 2rem 0 1rem;
	text-align: center;

	@include media-query(medium) {
		text-align: unset;
		padding: 2rem 0;
	}

	&__row {
		@include clearfix;
	}

	&__top {
		line-height: 2em;

		&--col {
			width: 100%;
			@include media-query(medium) {
				width: 50%;
				float: left;
			}
		}
	}

	&__copyright {
		margin-bottom: 1rem;
		@include media-query(medium) {
			margin-bottom: unset;
		}
	}

	&__top-logo {
		font-weight: bold;
		font-size: 1.9rem;
		text-transform: uppercase;
		color: white;
	}

	&__top-contact-list {
		text-align: center;
		margin-top: 10px;

		@include media-query(medium) {
	    	margin-top: 0;
	    	text-align: right;
		}

		& li {
		    display: inline-block;
		    margin-left: 15px;
		    @include media-query(medium) {
		    	margin-left: 30px;
		    }

		   	&:first-child {
		   		margin-left: unset;
		   	}	

		    & a {
	    	    font-family: "Roboto Slab",serif;
			    font-size: 16px;
			    font-size: 1.2rem;
			    color: white;
		    }

			& span {
		    	margin: 0;
			    padding: 0;
			    border: 0;
			    font-size: 100%;
			    font: inherit;
			    color: white;
			    display: none;

			    @include media-query(medium) {
			    	display: inline-block;
			    }
		    }

		    & i { 
		    	padding-right: 10px;
			    font-size: 20px;
			    font-size: 1.2rem;
		    }


		}
	}

	&__bottom {
		font-size: .8rem;
	    font-weight: 500;
	    
	    & p {
	    	color: white;
	    }

		&--col {
			width: 100%;
			@include media-query(medium) {
				width: 50%;
				float: left;
			}
		}
	}

	&__bottom-links {
		text-align: center;
		
		@include media-query(medium) {
	    	text-align: right;
		}

		& li {
			display: block;

			@include media-query(medium) {
				display: inline-block;
				margin-left: 30px;
			}
		}

		& a {
			display: block;
			width: 100%;
		    height: 50px;
		    line-height: 50px;
		    
		    font-size: 12px;
			transition: all 0.2s;
		    position: relative;
		    border-radius: 40px;
		    letter-spacing: 0em;
		    color: #808080;

    
	    	&:hover {
	    		background: #333;
	    		color: #FFF;

	    		@include media-query(medium) {
	    			background: unset;
	    		}
	    	}
	
		    @include media-query(medium) {
		    	height: unset;
		    	line-height: unset;
		    	color: white;
		    }
		}
	}

}